.login-form-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-form-container .login-form {
  width: 340px;
  height: 460px;
  border-radius: 12px;
  opacity: 1;
  padding: 30px 20px;
  box-shadow: var(--box-shadow);
}
.login-form-container .login-form form {
  height: 100%;
  position: relative;
}
.login-form-container .login-form form .inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.login-form-container .login-form form .actions {
  display: flex                ;
  gap: 20px;
  width: 100%;
  position: absolute;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-form-container .login-form form .actions > * {
  width: 100%;
}
.login-form-container .login-form form .actions a._link {
  font-weight: 500;
  font-size: 11px;
  line-height: 11px;
  letter-spacing: 0%;
  color: var(--text-color-blue);
  text-decoration: none;
  width: max-content;
}
