button{
    &.blue{
        background: #3369F3;
        font-weight: 500;
        font-size: 13px;
        line-height: 13px;
        letter-spacing: 0%;
        text-align: center;
        color: #fff;
        height: 37px;
        border-radius: 8px;
        border: none;
    }
}
