button{
    &.blue{
        background: var(--background-color);
        font-weight: 500;
        font-size: 13px;
        line-height: 13px;
        letter-spacing: 0%;
        text-align: center;
        color: var(--text-color-light);
        height: 37px;
        border-radius: 8px;
        border: none;
    }
}
