.profile-page__container { 
    display:grid;
    grid-template-columns: 64px 1fr;
    width: 100vw;
    height: 100vh;
	.profile-page__back { 
        background: var(--background-color-second);
        height: 100%;
        display:flex;
        justify-content: center;
        align-items: center;
        .back__link{
            display: block;
            background-color: var(--background-color);
            width: 28px;
            height: 28px;
            border-radius:50%;
            background-image: url(/assets/back.png);
        }
		img { 

		}
	}

	.profile-page__info__block {
        display: flex        ;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 60px;
        .info_table { 

            .r { 
                display: flex;
                width: 100%;
                padding: 10px 0;
                justify-content: space-between;
                &+.r{
                    border-top: var(--border-base);
                }
                .lable { 
                    font-weight: 600;
                    font-size: 13px;
                    line-height: 13px;
                    letter-spacing: 0%;
                    color: var(--text-color);
                }

                .value { 
                    font-weight: 500;
                    font-size: 13px;
                    line-height: 13px;
                    letter-spacing: 0%;
                    text-align: right;
                    color: var(--text-color-second);
                    
                }
            }
        } 

		.info-block__top { 
            display: flex            ;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            gap: 21px;
			.info-block__avatar { 
                width: 130px;
                height: 130px;
                border-radius: 50%;

				img { 

				}
			}

			.info-block__name { 
                font-weight: 600;
                font-size: 16px;
                line-height: 16px;
                letter-spacing: 0%;
                text-align: center;
                color: var(--text-color);
			}
		}

		.info-block__middle { 
            width: 500px;
			.info_table { 

				.r { 

					.lable { 

					}

					.value { 

					}
				}
			}
		}

		.info-block__bottom { 
            width: 500px;
			.info_table { 

				.r { 

					.lable { 

						a { 
                            color: var(--text-color-blue);
                            text-decoration: none;
                            &.exit{
                                color: var(--error-text-color);
                            }
						}
					}

					.value { 

					}
				}
			}
		}
	}
}
