.page404-container{ 
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
	.page404__content { 
        text-align: center;
		h1 { 
            text-align: center;
            font-weight: 500;
            font-size: 40px;
		}
		.sub-head { 
            text-align: center;
            font-weight: 500;
            font-size: 20px;
            color: #1E1E1E;
            margin-top: 20px;
		}

		.back-link { 
            margin-top: 70px;
            font-weight: 500;
            font-size: 11px;
            text-align: center;
            color: #3369F3;
            text-align: center;
            text-decoration: none;
		}
	}
}
